<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    {% csrf_token %}

    <script src="{% static 'cart.js' %}"></script>
    <title>{{product.title}}</title>
</head>
<body>
    <h1>{{product.title}}</h1>

    <p>
        {{product.description}} <br> 
        ${{product.price}} <br> <br>
        <button onclick="addToCart({{product_id}})">Add to Cart</button> <br> 


    </p>

    <p>Check out my <a href="/home">Home</a> page.</p>
    </h2>
</body>
</html>