<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% csrf_token %}

    <title>Place Order</title>

</head>
{% if user.is_authenticated and not user.is_seller and not user.is_staff %}
<body>
    <h1>Thank you for placing your order!</h1>
    <p>Return to marketplace <a href="/marketplace">Marketplace</a> page.</p>
    <p>Check out my <a href="/buyerHome">Home</a> page.</p>
    </h2>
{% else %}
  <script>
    window.location.href = "/home";
  </script>
{% endif %}

    <!-- Subscription Form -->
    
    <form action="/subscribe/" method="POST">
    {% csrf_token %}
    <input type="email" name="email" required placeholder="Enter your
    email">
    <button type="submit">Subscribe</button>
    </form>
    
</body>
</html>
