<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burnlab-Product Page</title>
</head>
<body>
    <h1>Burnlab-Product Page</h1>
    <p><a href="/home">Home</a></p>
    <p><a href="/logout">Logout</a></p>
    <h2>Create a product</h2>
    <p><a href="/newListing">New Listing</a></p>
    <h3>View products</h3>
    <p><a href="/productViewer">View Listings</a></p>

    
</body>
</html>